<h1>Arrastra o Selecciona el archivo para buscar subtítulos</h1>
<h3 id="keys"></h3>


<%#= render './searches/form', search: @search %>
<br>
<%#= link_to 'Back', root_path %>
<div id="answer">
    <form>
    <div class="form-group">
        <input type="file" id="name" class="form-control-file">
    </div>
    </form>
    <div class="dropzone" id="dropzone">Arrastra el archivo aquí</div>
</div>
<br>
<br>
<h1> Últimas búsquedas ... <%#= Search.last.name %> </h1>
<ul id="lista">
    <% @searches.reverse_each.with_index do |ele,i| %>
        <% if i < 5 %>
        <li><%= ele.name %></li>
        <% end %>
    <%end %>
</ul>
